Explore 1000 genomics data using unsupervised learning methods/data/1000genomic.gds
Explore 1000 genomics data using unsupervised learning methods/data/1000genomicMerge.bed
Explore 1000 genomics data using unsupervised learning methods/data/1000genomicMerge.bim
Explore 1000 genomics data using unsupervised learning methods/data/1000genomicMerge.fam
